* {
    padding: 0;
    margin: 0;
}

body.home {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 30s linear infinite;
    font-family: 'Fraunces', serif;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

body.home .content {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
}

body.home .content .logo {
    width: 500px;
}

body.home .content ul {
    margin-top: 40px;
}

body.home .content ul li {
    margin-bottom: 20px;
    list-style: none;
}

body.home .content ul li a {
    color: #F9D200;
    text-shadow: 4px 4px 0 rgba(56, 46, 13, 1);
    font-size: 46px;
    font-weight: bold;
}

body.home .content ul li a:before,
body.home .content ul li a:after {
    display: none;
    background: #F9D200;
    box-shadow: 4px 4px 0 rgba(56, 46, 13, 1);
    border-radius: 50%;
    content: "";
    width: 10px;
    height: 10px;
    position: relative;
    top: -10px;
    margin: 0 15px;
}

body.home .content ul li a:hover:before,
body.home .content ul li a:hover:after {
    display: inline-block;
}

/*=========================================*/
/* FOOTER */
/*=========================================*/

footer {
    color: #F9D200;
    text-shadow: 2px 2px 0 rgba(56, 46, 13, 1);
    font-family: 'Fraunces', serif;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

footer a {
    color: #f98900;
    font-weight: bold;
    text-shadow: 2px 2px 0 rgba(56, 46, 13, 1);
}

footer a:hover {
    text-decoration: underline;
}

footer form {
    display: inline;
    position: relative;
    top: 6px;
    left: 10px;
}
